[project.urls]
Homepage = "https://github.com/broadinstitute/"

[tool.poetry]
name = "cp_measure"
version = "0.1.3"
description = """
cp-measure implements CellProfiler Measurements. You can integrate them to your workflow or use them from CellProfiler 5 once they are integrated there."""
authors = ["Alan Munoz"]
readme = "README.org"
packages = [{include = "cp_measure", from = "src"}]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
numpy = "^1.24.4"
scikit-image = "^0.20.0"
scipy = ">=1.9.1,<1.11"
mahotas = "^1.4.13"
centrosome = ">=1.2.3"

[tool.poetry.group.dev.dependencies]
ipdb = "^0.13.13"
jupyter = "^1.0.0"
jupytext = "^1.15.0"
pytest = "^7.4.1"

